{{#each projects as |project|}}
  {{log project}}
  <section data-id="{{project.id}}">
    <h6>Title:</h6>
    <h3>
      {{limit project.title 15}}
    </h2>
    <h6>Author:</h6>
    <p>
      {{#if project.author}}
        {{project.author}}
      {{else}}
        No author provided.
      {{/if}}
    </p>
    <!-- {{> partial}} -->
  </section>
<button data-id="{{project.id}}" class="btn btn-danger delete">Remove</button>
{{/each}}
