{{#each projects as |project|}}

  <section class="section-card" data-id="{{project.id}}">
    <div id="card" class="card" style="width: 1000px;">
      <div id="card-display" class="card-body">
    <h6>Project:</h6>
    <h3>
      {{project.project_name}}
    </h2>
    <h6>Date:</h6>
    <h3>
      {{project.date}}
    </h2>
    <h6>Description:</h6>
    <h3>
      {{project.description}}
    </h2>
    <h6>Team needs:</h6>
    <h3>
      {{project.team_needs}}
    </h2>
    <h6>Contact Email:</h6>
    <p>
      {{#if project.contact_email}}
        {{project.contact_email}}
      {{else}}
        No email provided.
      {{/if}}
    </p>
  {{#if project.owned}}
    <button data-id="{{project.id}}" class="btn btn-danger delete">Remove</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal-{{project.id}}">
  Update Content
</button>
</div>
</div>

<div class="modal fade" id="updateModal-{{project.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">My updates</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form data-id="{{project.id}}" method="patch" class="update-project">
          <input type="text" name="project[project_name]" placeholder="project name">
          <input type="date" name="project[date]" placeholder="date created">
          <input type="text" name="project[description]" placeholder="project description">
          <input type="text" name="project[team_needs]" placeholder="team member requests">
          <input type="email" name="project[contact_email]" placeholder="project lead email">
            <button type="submit" class="btn btn-save">Save changes</button>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>

  {{/if}}
</section>

{{/each}}
